<!DOCTYPE html>
<html>
<head>
  <title>Answers</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <section id="container">
    <header class="clearfix">
      <h1>Ответы на все вопросы!</h1>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <ul class="nav navbar-nav">
        <li><%= link_to "Вопросы", questions_path %></li>
        <% if current_user %>
          <li><%= link_to "Задать вопрос", '', class: "new_question_link" %></li>
          <li class="reg-btns"><%= link_to current_user.email, edit_user_password_path %></a></li>
          <li class="reg-btns"><%=link_to "Выйти", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li class="reg-btns"><%= link_to "Регистрация", new_user_registration_path %></li>
          <li class="reg-btns"><%= link_to "Войти", new_user_session_path %></li>
        <% end %>
      </ul>
    </header>
    <section>
      <%= yield %>
    </section>
  </section>
</body>
</html>
